uvicorn[standard]
fastapi
python-multipart
psycopg2-binary
SQLAlchemy
boto3
python-dotenv
openai
sse-starlette
passlib
bcrypt==4.0.1
python-jose
pyjwt
cryptography
alembic
asyncpg
sqlalchemy[asyncio]
aiofiles
pydantic-settings
email-validator
mutagen
arq
redis
httpx
pycountry
openinference-instrumentation-openai
opentelemetry-sdk
opentelemetry-exporter-otlp
arize-otel
